[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=pixel-borders
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Pixel Border
Comment=Make your pixelart characters look great with pixel coloured borders
